/* TaskLogTable 컴포넌트 스타일 */
.task-log-container {
    padding: 20px;
  }
  
  .progress-title {
    font-size: 2rem;
    font-weight: bold;
    display: block;
  }
  /* 테이블 스타일 */
  .log-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .log-table th, .log-table td {
    padding: 12px;
    text-align: center;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
  }
  
  .log-table th {
    background-color: #f4f4f4;
  }
  
  /* 페이징 버튼 스타일 */
  .pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .pagination button {
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
  }
  
  .pagination button:hover {
    background-color: #e0e0e0;
  }
  
  /* Add-form-container 스타일 */
  .Add-form-container {
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .Add-form-container form ul {
    list-style-type: none;
    padding: 0;
  }
  
  .Add-form-container form li {
    margin-bottom: 10px;
  }
  
  .Add-form-container label {
    width: 120px;
    font-weight: bold;
    display: inline-block;
  }
  
  .Add-form-container input,
  .Add-form-container textarea,
  .Add-form-container select {
    width: 60%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
  }
  
  .Add-form-container textarea {
    height: 160px;
    resize: none;
  }
  
  .Add-form-container .input-description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 5px;
  }
  
  .Add-form-container .action-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    margin: 20px 10px 10px 10px;
  }
  
  .Add-form-container .action-button:hover {
    background-color: #0056b3;
  }
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 중앙 정렬 */
  }
  
  .Add-form-title {
    margin: 0; 
    text-align: center; 
    flex-grow: 1; 
  }
  
  .close-button {
    font-size: 24px;
    background-color: #f9f9f9;
    border: 1px solid grey;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: red; /* X 버튼에 마우스를 올렸을 때 색 변화 */
  }

  /* 에러 메시지 스타일 */
  .error {
    color: red;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .form-actions{
    text-align : center;
  } 

  @media (max-width: 768px) {
    .Add-form-container input,
    .Add-form-container textarea,
    .Add-form-container select {
      width: 95%;
      padding: 6px;
      font-size: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: inline-block;
    }
    .Add-form-container{
        margin-top : 10px;
        padding : 5px;
    }

    /* TaskLogTable 컴포넌트 스타일 */
    .task-log-container {
    padding: 0px;
  }
  .log-table{
    margin-bottom:0px;
  }

  .log-table th, .log-table td {
    padding: 7px;
    font-size: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .log-table th {
    background-color: #f4f4f4;
  }

  .pagination button {
    padding: 3px 6px;
    font-size: 0.8rem;
  }

  .form-actions .action-button{
    margin : 5px;
  }
  .Add-form-container .action-button{
    padding : 7px 14px;
    font-size: 0.9rem;
  }
  .Add-form-title{
    font-size: 24px;
  }
  }