/* 기본 스타일 */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex; /* 버튼을 가로로 나열 */
    justify-content: flex-start; /* 버튼들을 왼쪽에 정렬 */
    margin: 0; /* 버튼의 하단 여백 없애기 */
    width: 100%; /* 버튼들이 테이블과 같은 너비를 가지도록 */
  }
  
  .button-group button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
  }
  
  .button-group button:hover {
    background-color: #e0e0e0;
  }
  
  .button-group button.selected {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
  }
  
/* 기본 테이블 스타일 */
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    white-space: nowrap;
  }
  
  .table th {
    background-color: #f4f4f4;
  }
  
  .empty-message {
    text-align: center;
    color: #888;
  }
  
  /* 반응형 디자인 */
  @media (max-width: 768px) {
    .table th:nth-child(5), 
    .table td:nth-child(5) {
      display: none; /* '업데이트 날짜' 컬럼 숨기기 */
    }
  
    .table th:nth-child(6), 
    .table td:nth-child(6) {
      display: none; /* '비고' 컬럼 숨기기 */
    }
  
    .table th:nth-child(7), 
    .table td:nth-child(7) {
      display: none; /* '카테고리' 컬럼 숨기기 */
    }
  }
  
  
  /* 선택된 버튼 스타일 */
  .selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  /* 다른 컴포넌트에 대한 스타일 */
  button:focus {
    outline: none;
  }
  