/* 기본 레이아웃 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

div {
  margin: 0;
  padding: 0;
}
/* 로그인 버튼과 로그아웃 버튼 스타일 */
.actions {
  display: flex;
  justify-content: right; /* 사용자 정보와 버튼을 양쪽 끝으로 배치 */
  gap : 30px;
  align-items: center; /* 세로 정렬 */
  padding: 0 100px;
  height : 40px;
  margin : 10px;
  font-size: 25px;
}

.actions button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: auto;
  min-width: 100px;
  height: 40px; /* 버튼의 높이를 고정 */
  display: flex;
  align-items: center; /* 세로 정렬 */
  justify-content: center; /* 가로 정렬 */
  text-align: center;
}

.actions button:hover {
  background-color: #45a049;
}

.actions button:focus {
  outline: none;
}

/* 로그인된 사용자 정보 스타일 */
.user-info {
  font-size: 1rem;
  color: #333;
  margin-right: 20px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

/* 로그인된 사용자 이름 스타일 */
.user-info p {
  font-size: 1.2rem;
  color: #4CAF50;
  margin: 0;
  line-height: 40px; /* p 태그의 세로 정렬을 맞추기 위해 line-height 설정 */
}


/* 메인 페이지 스타일 */
h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

/* 메인 컨텐츠 박스 */
.main-container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* 네비게이션 바 버튼 스타일 */
.navbar-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.navbar-button:hover {
  background-color: #0056b3;
}

.navbar-button:focus {
  outline: none;
}

/* App 레이아웃 설정 */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.main-container {
  flex-grow: 1;
  margin-left: 200px; /* Navbar의 너비 */
  padding: 20px;
  box-sizing: border-box;
}

/* 모바일 환경에서 Navbar 숨김 */
@media (max-width: 768px) {
  .main-container {
    margin-left: 0; /* Navbar가 숨겨질 경우 기본 여백 제거 */
  }
}
